@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-11-17 10:23:35
 * @version $Id$
 */
*{
	font-family:"微软雅黑", "宋体","Glyphicons Halflings", "Microsoft Yahei", "华文黑体", "STHeiti", "Helvetica Neue", Helvetica,"sans-serif";
	margin:0;
	padding:0;
	font-size: 1.6rem;
}

body{
	background: #fff!important;
}

p{
	margin:0;
	padding:0;
}

a:link{color: #fff;text-decoration: none}
a:visited{color: #fff;text-decoration: none}
a:hover{color: #fff;text-decoration: none}
a:active{color: #fff;text-decoration: none}

.download{
	width: 100%;
	height:110px;
	position: relative;
	background-color:rgb(242,242,242);
	top:0;
	left: 0;
}

.download img{
	border-radius: 30px;
}

.download .close {
	width: 7%;
	height: 110px;
	left: 0;
}

.close .cl{
	margin-top:30px;
}

.download .logo{
	width: 32%;
	height: 110px;
	left:6%;
}
 
.download .downtxt{
	width: 52%;
	height: 110px;
	left:41%;
}

.downtxt .txt,.downtxt .install{
	margin-top: 5px;
	font-weight: bold;
	font-size: 1.4rem;
}

.downtxt .install{
	font-weight: normal;
}

.download .open{
	width: 10%;
	height: 110px;
	left:90%;
	text-align: center;
	padding-top:35px;
} 

.close,.logo,.downtxt,.open{
	position: absolute;
}
 
header{
	width: 100%;
	height:70px;
	background-color: rgb(36,41,44); 
	text-align: center;
	position: fixed;
	left:0;
	z-index: 2;
}

header span{
	color:#fff;
	font-size: 2.2rem;
	margin-top: 10px;
}

header .play{
	margin-left: 5%;
}

.img{
	width: 100%;
	height:265px;
	background: url(../images/u24.png) no-repeat;
	background-position: center;
	position: relative;
	margin-top: 70px;
}

.img .txt{
	float: left;
	position: absolute;
	left: 5%;
	bottom:0;
}

.txt p{
	font-size: 1.8rem;
	color:#fff;
}

.img .txtsong{
	float: left;
	position: absolute;
	bottom: 10px;
	right:5%;
}

.content{
	width: 85%;
	margin: 0 auto;
	margin-top: 30px;

}

.contitle{
	margin-bottom: 20px;
}

.contitle .title1{
	font-size: 2.2rem;
	color:#000;
	font-weight: bold;
	margin-left: 5%;

}

.contitle .title2{
	font-size: 1.8rem;
	margin-left: 6%;
	color:rgb(148,148,148);
	margin-bottom: 15px;
}

.title3 span{
	/* color:rgb(148,148,148); */
}

.photo,.like{
	display: inline;
	margin-left: 5%; 
}

.like{
	margin-left: 28%;
}

.contxt{
	font-size: 2.2rem;
	color:#fff;
}

section{
	font-size: 1.8rem;
	color:rgb(102,102,102);
}

section p{
	text-indent: 2em;
	line-height: 30px;

}

.btnlike{
	width: 100%;
	margin-top: 20px;
}

.btn{
	width: 50%;
	height: 45px;
	background: white;
	margin:0 auto;
	text-align: center;
	padding-top: 8px;
	border-radius: 5px;
	border-style: solid; 
	border-width: 1px;
}

.btn-down{
	margin-top: 30px;
	width: 100%;
	height:50px;
	background-color:rgb(51,51,51);
	border-radius: 8px;
	text-align: center;
	margin-top: 25px;
	margin-bottom:30px;
	line-height: 50px;
}

.btn-down span{
	font-size: 2.2rem;
	color:#fff;
}

.song{
	/* background-color: red; */
	position: relative;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: rgb(134,134,134);
	padding-top:25px;
	padding-bottom:25px;
}

.qu,.lot,.sname{
	position: absolute;
}

.song img{
	margin-left: 5%;
}

.song .qu{
	top:25px;
	left:35%;
	font-size: 2.0rem;
	color: rgb(134,134,134);
}

.song .lot{
    top:35px;
    right:5%;
    color: rgb(134,134,134);
}

.song .sname{
	bottom:25px;
	left: 35%;
	font-size: 2.0rem;
}

.author{
	height: 110px;
	border: none;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: rgb(134,134,134);
	margin-bottom: 10px;
}

.author .ququ,.author .snamesname{
	left: 23%;
}

.talk{
	border-style: none;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: rgb(134,134,134);
	margin-bottom: 10px;

}

.talk .txt{
	margin-left: 5%;
	margin-bottom: 12px;
    color: rgb(134,134,134);
    
}
.talk .txt span{font-size: 1.8rem;}

.talk img{
	margin-left:5%;
}
 
.talk .qu1 ,.talk .lot1 ,.talk .sname1 {
	top:55px;
	left: 25%;
	font-size: 1.8rem;
}

.talk .lot1 {
	top:80px;
	font-size: 1.6rem;
}

.talk .sname1{
	top:105px;
}

.alltalk {
	width: 100%;
	text-align: center;
	line-height: 2.0;
}

.alltalk .all{
	font-size: 2.0rem;
}
