@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-11-10 10:50:32
 * @version $Id$
 */
*{
	font-family:"微软雅黑", "宋体","Glyphicons Halflings", "Microsoft Yahei", "华文黑体", "STHeiti", "Helvetica Neue", Helvetica,"sans-serif";
	margin: 0;
	padding:0;
	font-size: 1.6rem;
}

body{
	background: #000!important;
}

p{
	margin:0;
	padding:0;
}

.pcnone{
	display: none!important;
}

/*header*/
header{
	width:100%;
	height:140px;
	background-color: #000;
	position: relative;
}

.heada{
	width: 20%;
	height: 140px;
	position: absolute;
	top:0;
	left:0;
}

.heada p{
	font-size:3.8rem;
	color:#fff;
	margin-left:50%;
    margin-top: 55px;
	font-weight: bold;
}

.headb{
	width:30%;
	height:140px;
	position:absolute;
	top:0;
	left:20%;
}

.headb img{
	position: absolute;
	top:56px;
	right: 0;
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

}

.headb input{
	width:100%;
	height: 41px;
    vertical-align:middle;
    margin-top:55px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-indent: 1em;
}

.headc{
	width: 15%;
	height:140px;
	position: absolute;
	top:0;
	right:33%;
}

.headc span{
	line-height: 140px;
	text-align: center;
	margin: 0 auto;
    color:#fff;
    margin-left: 15%;
}

.headd{
	width: 35%;
	height:140px;
	position: fixed;
	top:0px;
	right:0;
}

.headd ul {
    list-style: none;
    margin-top: 8%;
}

.headd .dnone{
	color:#fff;
	font-size: 2.5rem;
	font-weight: bold;
	margin-left: 10%;
}

.headd .dcircle{
	margin-left: 10%;
	font-size: 2.6rem;
}

/*menu*/
.menu{
	width: 8%;
	height: 350px;
	margin-left: -1%;
	margin-top: 30px;
	text-align: center;
	position: fixed;
}

.menu ul{
	list-style: none;
	line-height: 30px;
}

.menu ul li{
	margin-left: 10%;
    width: 50%;
	padding-top:10%;
	font-size: 1.8rem;
}

.current{
	border-bottom: 3px solid rgb(0,204,255);	
	color:rgb(0,204,255);
}

.current span{
	color:rgb(0,204,255);
}

.menu ul li a{
	color:#fff;
}

.menu .button{
	width:55%;
	height: 30px;
	border-radius: 3px;
	background-color: #fff;
	margin-left: 23%;
	margin-top: -3px;
	color:#000;
}

.menu .button span{
	line-height: 30px;
	font-size: 1.4rem;
}

.menu .search{
	width:35px;
	height:35px;
	font-size:14px;
	line-height: 35px;
	margin-top: 16px;
}

/*content*/
.content{
	width: 60%;
	margin-top: 0px;
	margin-left: 10%;
}

.content .hot-new{
	height: 40px;
	width: 20%;
	margin-bottom: 12px;
}

.content .hot-new ul{
	list-style: none;
	margin-left: -30px;
}


.content .hot-new ul li{
   color: rgb(121,121,121);
   border: 1px solid rgb(121,121,121);
   float: left;
   border-radius: 5px;
   padding: 3px 20px;
   margin-right:10% ; 
   font-size: 1.5rem;
}

.option1{
   border: 1px solid rgb(0,204,255)!important;
}

.option1 span{
	  color: rgb(0,204,255);
}

.content .hot-new ul li a{
	color:rgb(121,121,121);
}


.conimg{
	height: 260px;
	padding:0px;
	overflow: hidden;
	width: 50%;
	float: left;
    border-bottom:1px dashed #666666;
}

.conimg img{
	float:left;
	width:100%;
	height: auto;/**/
}

.contxt{
    overflow: hidden;
    width: 42%;
    color: #fff;
    height: 260px;
    padding:30px;
    float:left;
    border-bottom:1px dashed #666666;
}

.txttop {
	margin-bottom: 15px;
}

 .txttop .disp{
	display: inline;
	font-size: 1.6rem;
	color:rgb(228,228,228);
}

.txttop span{
	font-size: 1.4rem;
}

.txtmid .txtsize{
    font-size: 2.4rem;
    font-weight: bold;
}

.txtmid p span{
	font-size: 1.3rem;
	color:rgb(215,215,215);
}

.code{
	width: 10%;
	height:300px;
	position:fixed;/*设置fixed*/
	top:17%;
	right: 20%;
	color:#fff;
}

.code .chesong{
   color: #fff;
   font-size: 1.3rem;
   text-decoration:underline;
   bottom: 20px;
}

.code .code-img img{
	width: 65%;
	height:65%;
	margin-top: 50px;
}

.download span{
	font-size: 1.4rem;
}

/*to-top*/
.to-top{
	width: 35px;
	height: 65px;
	background-color: #fff;
	bottom:10%;
	right:25%;
	position: fixed;
}

.top-cade{
	text-align: center;
	margin:0 auto;
}

.top-cade img{
	width: 35px;
	height: 35px;
}

footer{
	display: none!important;
}

/* .attach{
	
	width: 45%;
	position: absolute;
	margin-top:1400px;
	margin-left: 12%;
	margin-bottom: 50px;
}

#editor{
	width:100%;                     
    left:8%;
    height: 200px;
    position: absolute;
}

.attach .tbutton{
    background-color: green;
	margin-top:12%;
	width: 88%;
	margin-left: 6%;
	text-align: right;
	position: relative;
	top:150px;
}
 */
