@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-11-10 10:50:32
 * @version $Id$
 */
*{
	font-family:"微软雅黑", "宋体","Glyphicons Halflings", "Microsoft Yahei", "华文黑体", "STHeiti", "Helvetica Neue", Helvetica,"sans-serif";
	margin: 0;
	padding:0;
	font-size: 1.6rem;
}

body{
	background: #000!important; 
}

p{
	margin:0;
	padding:0;
}

.pcnone{
	display: none!important;
}

.pcmiddle{
	width: 1280px;
	margin:0 auto;
	position: relative;
	background-color: green;
}

/*header*/
header{
	width:100%;
	height:140px;
	background-color: gray;
}

.heada{
	width: 325px;
	height: 140px;
	float: left;	
}

.heada p{
	font-size:3.8rem;
	color:#fff;
	margin-left:50%;
    margin-top: 50px;
	font-weight: bold;
}

.headb{
	width:510px;
	height:140px;

	float: left;
	position: relative;
}

.headb img{
	position: absolute;
	top:56px;
	right: 0;
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.headb input{
	width:100%;
	height: 41px;
    vertical-align:middle;
    margin-top:55px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-indent: 1em;
}

.headc{
	width: 150px;
	height:140px;

	float: left;
}

.headc span{
	line-height: 140px;
	text-align: center;
	margin: 0 auto;
    color:#fff;
    margin-left: 15%;
}


/*menu*/
.menu{
	width: 8%;
	height: 350px;
	margin-left: -1%;
	margin-top: 30px;
	text-align: center;
	position: fixed;
}

/* @media screen and (max-width:1280px) and (max-width:1336px){
.menu{
	margin-left:-2%;
}
}

@media screen and (max-width:1337px) and (max-width:1440px){
.menu{
	margin-left: 0%;
}
} */

/*menu*/
.menu{
	height: 350px;
	margin-top: 20px;
	text-align: center;
	position: fixed;
	width: 130px;
	background-color:pink;
}

.menu ul{
	list-style: none;
	line-height: 30px;
}

.menu ul li{
	margin-left: 10%;
    width: 50%;
	padding-top:20%;
	font-size: 2.0rem;
}

.current{
	border-bottom: 3px solid rgb(0,204,255);	
	color:rgb(0,204,255);
}

.current span{
	color:rgb(0,204,255);
}

.menu ul li a{
	color:#fff;
}

.menu .button{
	width:55%;
	height: 30px;
	border-radius: 3px;
	background-color: #fff;
	margin-left: 23%;
	margin-top: -3px;
	color:#000;
}

.menu .button span{
	line-height: 30px;
	font-size: 1.4rem;
}

.menu .search{
	width:35px;
	height:35px;
	font-size:14px;
	line-height: 35px;
	margin-top: 16px;
}

/*content*/
.content{
	width:890px;
	margin:0 auto;
	margin-top: 0px;
	margin-left:130px;
	background-color: blue;
}

.content .hot-new{
	height: 40px;
	width: auto;
	margin-bottom: 12px;
}

.content .hot-new ul{
	list-style: none;
	margin-left: -30px;
}

.content .hot-new ul li{
   color: rgb(121,121,121);
   border: 1px solid rgb(121,121,121);
   float: left;
   border-radius: 5px;
   padding: 3px 20px;
   margin-right:2%; 
   font-size: 1.5rem;
}

.option1{
   border: 1px solid rgb(0,204,255)!important;
}

.option1 span{
	  color: rgb(0,204,255);
}

.content .hot-new ul li a{
	color:rgb(121,121,121);
}

.conimg{
	height: 260px;
	padding:0px;
	overflow: hidden;
	width: 50%;
	float: left;
    border-bottom:1px dashed #666666;
}

.conimg img{
	float:left;
	width:100%;
	height: auto;/**/
}

.contxt{
    overflow: hidden;
    width: 42%;
    color: #fff;
    height: 260px;
    padding:30px;
    float:left;
    border-bottom:1px dashed #666666;
}

.txttop {
	margin-bottom: 15px;
}

 .txttop .disp{
	display: inline;
	font-size: 1.6rem;
	color:rgb(228,228,228);
}

.txttop span{
	font-size: 1.4rem;
}

.txtmid .txtsize{
    font-size: 2.4rem;
    font-weight: bold;
    color:#fff;
}

.txtmid p span{
	font-size: 1.3rem;
	color:rgb(215,215,215);
}

@media screen and (max-width:1336px){
.aa{
	right:0;
}
.to-top{
    right: 15%;
} 
}
@media screen and (min-width:1337px) and (max-width:1387px){
.aa{
	right:2%;
}
.to-top{
    right: 17%;
} 
}
@media screen and (min-width:1388px) and (max-width:1680px){
.aa{
	right:5%;
}
.to-top{
    right: 16%;
} 
}
@media screen and (min-width:1681px) and (max-width:1920px){
.aa{
	right:10%;
}
.to-top{
    right: 20%;
} 
}
@media screen and (min-width:1921px) and (max-width:2560px){
.aa{
	right:16%;
}
.to-top{
    right: 25%;
}


}
@media screen and (min-width:2560px) {
.aa{
	right:25%;
}
.to-top{
    right: 40%;
} 
}

.aa{
	background-color: pink;
	position: fixed;
	width: 260px;
	top:35px;
}

.headd{
	width: 150px;
	height:140px;
	top:0px;	
	overflow: hidden;
}

.headd ul {
    list-style: none;
    margin-top: 8%;
    margin-left: -20%;
    background-color: green;
}

.headd .dnone{
	color:#fff;
	font-size: 2.5rem;
	font-weight: bold;
}

.headd .dcircle{
	font-size: 2.6rem;
}


/* 滚动条、二维码 */
.conright{
	width:100%;
	height: 500px;	
	top:140px;
}

.conright.code{
	width: 30%;
	height:200px;
	/* position:fixed;设置fixed */
	top:17%;
	right: 20%;
	color:#fff;
}

.conright .chesong,.conright .checlose{
   color: #fff;
   font-size: 1.3rem;
   text-decoration:underline;
   bottom: 20px;
}

.conright .checlose{
	display: none;
}

.conright .code .code-img img{
	width: 45%;
	height: 45%;
	margin-top: 50px;
}

@media only screen and (max-width:1280px){
.conright .code .code-img img{
	width: 65%;
	height: 65%;
}
}

.download span{
	font-size: 1.4rem;
}

.clr {
	clear:both;
	height:0
}

/** 滚动条**/
/* main container */
.jScrollbar { 
	width:12%;
	height:400px;
	overflow:hidden;
	position:fixed;
	background-color:#000;
	padding:5px;
	margin-top: 10px;
	display: none;
}
/* text container */
.jScrollbar_mask { 
	width:75%;
	position:relative;
	top:0;
	float:left;
}
/* paragraphs */
.jScrollbar .jScrollbar_mask p { 
	margin:0;
	padding:0;
	color:rgb(201,201,201);
	font-size:1.2rem;
	text-align: center;
	/* text-indent: 1rem; */
}
/* slider container */
.jScrollbar_draggable { 
	float:left;
	width:7%;
	height:380px;
	overflow:hidden;
/* 	background:transparent url('../images/bg_jScrollbar_draggable.jpg') repeat-y center top; */
	margin-left:6%;
	position:relative;
	top:0;
}
/** draggable **/
.jScrollbar_draggable a.draggable { 
	position:relative;
	background-color:rgb(161,161,161);
	display:block;
	height:120px;
	width:9px;
	margin-left:6px;
	/* cursor:s-resize; */
	cursor:pointer;
}

/*to-top*/
.to-top{
	width: 40px;
	height: 65px;
	background-color: #fff;
	bottom:10%;	
	position: fixed;
}



.top-cade{
	text-align: center;
	margin:0 auto;
}

.top-cade img{
	width: 35px;
	height: 35px;
}

footer{
	display: none!important;
}


/* .attach{
	
	width: 45%;
	position: absolute;
	margin-top:1400px;
	margin-left: 12%;
	margin-bottom: 50px;
}

#editor{
	width:100%;                     
    left:8%;
    height: 200px;
    position: absolute;
}

.attach .tbutton{
    background-color: green;
	margin-top:12%;
	width: 88%;
	margin-left: 6%;
	text-align: right;
	position: relative;
	top:150px;
}
 */
